<DOCTYPE html>
<html>
	<head>
		<title>Chapter 4: Web Forms</title>
		<meta charset="utf-8">
		<link rel="stylesheet" href="../style.css">
	</head>

	<body>
		<h1>Chapter 4: Web Forms</h1>
		
		<div id="content">
			<section id="intro">
				<h2>简介</h2>
				<p>
					html标签可以用来构建表格。request对象包含了用户通过浏览器发送的所有信息，特别是post请求，包含了表单数据。<br>
					flask-wtf扩展简化了表单的创建和验证提交的表单数据。
				</p>
				
			</section> <!-- END of section intro -->
				
			<section id="configuration">
				<h2>Configuration</h2>
				<p>
					flask_wtf不需要在application level进行配置，只需要配置secret key就可。secret key用于保护表单免受攻击者伪造。以下是配置代码: <br>
						<pre class="code">
app = Flask(__name__)
app.config['SECRET_KEY'] = 'hard to guess string'
						</pre>
				</p>
				<p>
					app.config类似于字典，用于存储配置变量。可以使用它从文件， environment,或者配置对象导入配置信息。
				</p>
				<p>
					secret string必须保存在environment variable中，以提高安全性。
				</p>
			</section> <!-- END of section configuration -->
				
			<section id="form-classes">
				<h2>Web Forms</h2>
				<p>
					flask-wtf使用继承于FlaskForm类的子类表示表单，该子类包含一系列表示表单字段的字段类型对象变量，每一个字段对象可关联多个validator.validator用于检测由用户提交的数据是否合法。<br>
						
					<pre class="code">
# a simple web form that has a text field and a submit button.

from flask_wtf import FlaskForm
from wtforms import StringField, SubmitField
from wtforms.validators import DateRequired

class NameForm(FlaskForm):
	name = StringField('What is your name?', validators=[DateRequired()])
	submit = SubmitField('submit')
	
					</pre>
				</p>
				
				<p>
					wtforms支持的一系列html fields<br>
					<img src="../images/chapter4/form-fields-1.png">
					<img src="../images/chapter4/form-fields-2.png"><br>
					wtforms validators<br>
					<img src="../images/chapter4/validators.png">
				</p>
			</section> <!-- END of section form-classes -->
				
			<section id="render-forms">
				<h2>HTML Rendering of Forms</h2>
				
				<p>
					表单字段在template中是可调用的，会渲染自身。假设view function传递form对象给占位变量form,以下是渲染表单的代码:<br>
						<pre class="code">
&lt;form method="POST"&gt;
	{{ form.hidden_tag() }}  #flask定义的隐藏字段，用与跨站表单伪造保护。
	{{ form.name.label }} {{ form.name() }}   #这里是form.name()， 而不是form.name.这是字段可调用性的体现。
	{{ form.submit() }}
&lt;/form&gt;
						</pre>
				</p>
				
				<p>
					在渲染表单字段的函数调用中添加的任何keyword arguments都被转换成html 标签的属性。如此，可以传参id,class属性，或定义style属性。<br>
					<pre class="code">
&lt;form method="POST"&gt;
	{{ form.hidden_tag() }}
	{{ form.name.label }} {{ form.name(id="my-text-field") }}
	{{ form.submit() }}
&lt;/form&gt;
					</pre>
				</p>
				<p>
					上述方式还是有点麻烦，flask_bootstrap提供了一种快速渲染flask_wtf 表单的方式。上诉表格可使用如下代码渲染:<br>
					<pre class="code">
{% import "bootstrap/wtf.html" as wtf %}    #在这里用单引号包围bootstrap/wtf.html，这种形式无效，务必留心
{{ wtf.quick_form(form) }}
					</pre>
					<br>
					quick_form接受flask_wtf FlaskForm对象，使用bootstrap默认风格渲染。
				</p>
				<p>
					以下是完整的index.html<br>
					<pre class="code">
# index.html

{% extends 'bootstrap/base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block title %}Flasky {% endblock %}

{% block page_content %}
	&lt;div class="page-header"&gt;
		&lt;h1&gt;Hello, {% if name %} {{ name }} {% else %} Stranger {% endif %}! &lt;/h1&gt;
		{{ wtf.quick_form(form) }}  # 注意这里使用的是{{和}}，而不是{% %}
	&lt;/div&gt;
{% endblock %}
					</pre>
				</p>
			</section> <!-- END of render forms -->
				
			<section id="form-handle">
				<h2>Form Handling in View Function</h2>
				<p>
					以下是处理表单的代码:<br>
					<pre class="code">
@app.route('/', methods=['POST', 'GET'])
def index():
	name = None
	form = NameForm()
	
	if form.validate_on_submit():  #当表单被提交，并且表单数据通过所有validators时，返回True。该方法决定表单是被渲染还是被处理
		name = form.name.data
		form.name.data = ''
	return render_template('index.html', form=form, name=name)
					</pre>
				</p>
			</section> <!-- END of form handle -->
				
			<section id="redirection-and-user-sessions">
				<h2>Redirection and User Sessions</h2>
				
				<p>
					上述版本存在一个问题，当你提交表单后再刷新页面，浏览器会提示你是否重新提交表单。<br>
					这是因为当刷新页面时，浏览器会重复最后一次request.当最后一次request是post时，会造成表单重复提交的结果，所以浏览器会提示你。
				</p>
				<p>
					可以使用redirection解决这种问题。redirection是一种特殊的包含url的响应。当浏览器接受到一个redirection时，它会发送一个包含redirection中的url的GET请求，该url是最终显示的页面。
				</p>
				<p>
					但是redirecition带来了一个新问题:无法访问被结束的请求中的数据。一旦request终止，表单数据也随之被销毁。因此需要将POST请求中的表单数据保存下来，以供redirection访问。
				</p>
				<p>
					可以将请求中的数据保存在user sessions中，以在所有出现过的请求中共享。user session是一种特定于每一个连接的客户端的私有存储。可以通过request.session访问，user session类似于python 字典。
				</p>
				<p>
					user session 默认存储在客户端的使用secret key 加密的cookie里，任何伪造cookie都会渲染错误签名，以致会话验证失败。
				</p>
				<p>
					以下是实现了redirection 和 user session的新版本: <br>
						
					<pre class="code">
# hello.py

from flask import Flask, render_template, session, redirect, url_for

@app.route('/', methods=['GET', 'POST'])
def index():
	form = NameForm()
	if form.validate_on_submit():
		session['name'] = form.name.data
		form.name.data = ''
		return redirect(url_for('index'))
		
	return render_template('index.html', form=form, name=session.get('name'))  #一旦key不存在，session.get会返回None
					</pre>
				</p>
			</section> <!-- END of redirection and user sessions -->
				
			<section id="message flashing">
				<h2>Message Flashing</h2>
				<p>
					当用户请求完成，这时很有必要给用户一个状态更新。这种更新可以是需要用户确认的消息，警告，或者一个错误。举个例子，比如用户登陆失败时，登陆页面的登陆表单下方会出现登陆失败的原因，比如用户名不存在，密码错误等。
				</p>
				<p>
					可以使用flask的核心功能之一的flash()函数实现这种目的。<br>
					<pre class="code">
# hello.py flashed messages

from flask import Flask, render_template, session, redirect, url_for, flash

@app.route('/', methods=['POST', 'GET'])
def index():
	form = NameForm()
	if form.validate_on_submit():
		old_name = session.get('name')
		if old_name is not None and old_name != form.name.data:
			flash('Looks like you have changed your name!')
		session['name'] = form.name.data
		return redirect(url_for('index'))
	return render_template('index.html', form=form, name=session.get('name'))
					</pre>
				</p>
				<p>
					最好在base.html模版中渲染flashed message,使得所有页面都渲染上flashed message.<br>
					可以使用get_flashed_messages()函数获得flashed messages.<br>
					<pre class="code">
{% block content %}

&lt;div class="container"&gt;
	{% for message in get_flashed_messages() %}
		&lt;div class="alert alert-warning"&gt;
			&lt;button type="button" class="close" data-dismiss="alert"&gt;&times;&lt;/button&gt;
			{{ message }}
		&lt;/div&gt;
	{% endfor %}
&lt;/div&gt;

{% endblock %}
					</pre>
				</p>
				<p>
					上述之所以用loop，是因为可能获取一系列处于队列中的flashed messages.一旦flashed messages被获取，那么它们也就从队列中丢弃，因此下一次的get_flashed_messages()调用将不会获取到任何flashed messages.
				</p>
			</section> <!-- END of message flashing -->
		</div>  <!-- END of main content -->

		<div id="extend">

		</div> <!-- END of extend -->
	</body>

</html>
