<DOCTYPE html>
<html>
	<head>
		<title>Chapter 5: Database</title>
		<meta charset="utf-8">
		<link rel="stylesheet" href="../style.css">
	</head>

	<body>
		<h1>Chapter 5: Databases</h1>
		<div id="content">
			<section id="intro">
				<h2>简介</h2>
				<p>
					数据库用于以有组织的方式存储应用程序数据，当程序需要数据时，会执行查询命令来获取部分数据。<br>
					当前比较流行的有两种数据库: SQL  database 和 NoSQL database.
				</p>
			</section> <!-- END of intro -->
			<section id="sqlDatabases">
				<h2>SQL Databases</h2>
				<p>
					关系数据库使用table来存储数据。table对应用程序领域的不同实体进行建模。例如，菜单管理应用程序的数据可能拥有customers, products, 和 orders table.
				</p>
				<p>
					table拥有固定数量的columns和可变的rows.columns定义由table表示的实体的数据属性。比如，一个customers table可能定义了如下columns: name, address, phone等等。每一个row定义了一条数据记录，数据记录可能只对某些columns或全部columns赋值。
				</p>
				<p>
					table有一个特殊的columns，叫做primary key,它是一个用于区别其他row的标识。table也可以拥有foreign keys columns,所谓的外键引用了same table 或者 other table的某一row的主键值。这种外键与主键的链接叫做关系，是关系型数据库的基础。
					<img src="../images/chapter5/sql-db-example.png">
				</p>
				<p>
					在上述图片中，user table中的role_id称作外键。链接roles.id和users.role_id的线表示两张表之间的关系。在直线两端的数字表示关系的对应基数。在roles.id这端，表示该关系下只能存在一个roles.id,在uers.role_id这端表示可以存在多个role_id实体。也就是所谓的一对多关系，表明在roles table中的每一天记录可以与users表中的多行记录关联。
				</p>
				<p>
					关系数据库存储数据高效，并能避免数据重复。这里在数据库里修改user role是很简单的，因为角色名字只存在唯一的地方: roles表。一旦roles表中的角色名改变，所有先前引用当前被修改的role name 的用户会看到更新后的角色名。
				</p>
				<p>
					从另一方面说，将数据分割，分别存储在多个tables中，这增加复杂性。生成一个带有角色名的用户列表会存在一点问题，因为用户数据和角色数据需要分别从两张table中读取，然后将这些数据组合后才能一起显示。关系型数据库提供了对tables的join操作。
				</p>
			</section> <!-- END of sql databases.-->
				
			<section id="NOSQLDatabase">
				<h2>NoSQL Database</h2>
				
				<p>
					一切不遵循关系模型的数据库一律统一称作NoSQL Database.一种通用的NoSQL database 组织是，使用collections代替tables, documents 代替records.NoSQL database本身设计使得join操作很难实现，因此大多数的它们根本不支持join操作。对于之前的关系型数据库组织的图表可知，其需要应用程序自己去执行join操作，流程是从每一个用户中读取role_id字段的值，然后利用这个值在roles表中搜索相应的角色名。
				</p>
				<p>
					一个更加合适的NoSQL database设计如下:<br>
					<img src="../images/chapter5/nosql-design.png">
					这是执行denormalization操作的结果，这种操作以昂贵的数据重复为代价来节省table的数量。
				</p>
				<p>
					这种结构的数据库将角色名显示地存储在每一个用户里。因此，修改角色名将需要修改大量的用户中的角色。
				</p>
				<p>
					但这并不糟糕，因为重复数据使得查询更快。这直接列出用户和角色，而不需要额外的join操作。
				</p>
			</section> <!-- END of NOSQLDatabase -->
				
			<section id="sqlOrNosql">
				<h2>Sql or NoSQL?</h2>
				<p>关系型数据库以高效且紧密的方式存储结构化数据，在这方面它更加出色。关系型数据库极力维持数据一致性，即使面对重大错误以及硬件故障。之所以关系型数据库有如此高的可靠性，是因为它遵循ACID原则: Atomicity(原子性)，Consistency(一致性)，Isolation(隔离性)， Durability(持久性)。nosql 放松了部分ACID原则，因此有时候将获取更高效的性能。
				</p>
				<p>
					对于中小型应用程序，两种数据库都适合，且拥有相同的性能。
				</p>
			</section> <!-- END of sqlOrNosql -->
				
			<section id="pythonDatabaseFrameworks">
				<h2>Python Database Fraworks</h2>
				<p>
					python包含支持各种开源或商用数据库引擎的库，而flask不限制使用何种数据库引擎库，因此你可以选择任何你喜欢的数据库引擎库。
				</p>
				<p>
					如果数据库引擎库不能满足你的要求，你也可以使用数据库抽象层库，比如SQLAlchemy或者MongoDB, 等等，这些数据库抽象层允许你在一个更高的层次使用python对象工作，而不是使用数据库尸体，比如table, documents, 或者查询语言。
				</p>
				<p>
					
				<section id="chooseDatabaseFraworks">
					<h2>How to choose database fraworks</h2>
					<p>
						选择数据库框架可以参看如下原则:
					</p>
					<p>
						<h3>Ease of use</h3>
						比较数据库引擎库和数据库抽象层库，后者更加合适。abstraction layers也叫做对象关系映射表(object-relational mappers)或者对象文档映射表(object-document mappers),它提供了一个透明的转化，这种转化将高层面向对象操作转换成底层的数据库命令。
					</p>
					<p>
													<h3>Performance</h3>
													由ORMs或者ODMs做出的将对象领域转换成数据库领域的这种转换有一个性能消耗。大多数情况下，这种性能损失可以忽略不计，但也只是对于大多数情况。通常由ORMs或者ODMs让产品获得的利润要远比损耗的些许性能更重要。因此，完全的弃用ORMs或者ODMs是不明智的。有意义的是使用这样一种数据库抽象层，在需要执行一些需要优化的特定操作时，可以可选的通过直接编写原始的数据库命令来达到优化操作的目的。
						
					</p>
					<p>
						<h3>Portability</h3>
						必须考虑在软件测试版本与发布版本上使用的数据库的兼容性，以及ORMs或者ODMs在可以使用的底层数据库引擎数量和一致的使用面向对象接口来访问数据库。
					</p>
					
					<p>
						<h3>Flask integration</h3>
						尽管选择一个flask集成的数据库框架并不是必须的，但是flask数据库框架可以简化数据库配置和操作。出于这个目的，本章将使用flask-SQLAlchemy集成，它是SQLAlchemy框架的简单包装。     
					</p>
				</section><!-- END of how to choose database fraworks -->
			</section> <!-- END of python database fraworks -->
				
			<section id="DatabaseManagementWithFlask-SQLAlchemy">
				<h2>Database Management with Flask-SQLAlchemy</h2>
				<p>
					Flask-SQLAlchemy是flask扩展，它简化了SQLAlchemy在程序中的使用。SQLAlchemy是一个强大的关系数据库框架，它提供了对多个类型的后端数据库的支持，，以及高层的ORMs和对数据库使用查询语言的底层访问。
				</p>
				<p>
					在Flask-SQLAlchemy中，一个数据库由URL指定。以下是三种最流行数据库引擎的URL格式:<br>
					<img src="../images/chapter5/database_url.png">
				</p>
				<p>
					上述的url中，hostname可以是localhost或者远程服务器的ip地址, database表明要使用的数据库的名字。对于sqlite来说，其无需服务器，因此server,hostname, 以及password可以省略，database是在磁盘中数据库的名字。
				</p>
				<p>
					程序的数据库的url必须定义在app.config对象里作为键SQLALCHEMY_DATABASE_URI的值，其次最好将SQLALCHEMY_TRACK_MODIFICATIONS的值设置为False,这可以有效减少内存的使用，除非你有跟踪对象改变的需要。以下是初始化和配置SQLite数据库的代码:<br>
					<pre class="code">
# SQLite database configuration

import os
from flask_sqlalchemy import SQLAlchemy

basedir = os.path.abspath(os.path.dirname(__file__))
app = Flask(__name__)
app.config['SQLALCHEMY_DATABASE_URI = 'sqlite:///' + os.paht.join(basedir, 'data.sqlite')
app.config['SQLAlCHEMY_TRACK_MODIFICATIONS'] = False

db = SQLAlchemy(app)
					</pre>
					db对象代表数据库，它提供了对所有flask_sqlalchemy功能的访问接口。
				</p>
			</section><!--END of database management with flask-sqlalchemy-->
			
			<section id="modelDefinition">
				<h2>Model Definition</h2>
				<p>
					程序使用术语model来引用持久化的数据库实体。在ORMs环境下，model表示一个python 类，该类的属性与相应的数据库表的字段相匹配。
				</p>
				<p>
					db对象提供了用于定义model的基本类，以及一系列helper类和函数来定义model的结构。以下是定义model的代码:<br>
					<pre class="code">
#hello.py Role and User model definition

class Role(db.Model):
	__tablename__ = "roles"
	id = db.Column(db.Integer, primary_key=True)
	name = db.Column(db.String(64), unique=True)
	
	def __repr__(self):
		return '&lt;Role %r&gt;' % self.name
		
class User(db.Model):
	__tablename__ = "users"
	id = db.Column(db.Integer, primary_key=True)
	username = db.Column(db.String(64), unique=True, index=True)
	
	def __repr__(self):
		return '&lt;User %r&gt;' % self.username
					</pre>
				</p>
				<p>
					__tablename__变量定义了数据库中表的名字。以下列出了可用的columns类型:<br>
					<img src="../images/chapter5/column_types.png">
				</p>
				<p>
					以下是可用的Column类配置参数:<br>
					<img src="../images/chapter5/column-configuration.png">
					flask_sqlalchemy要求所有的model必须包含一个primary_key类型的column.
				</p>
			</section><!-- END of Model Definition-->
				
			<section id="relationships">
				<h2>Relationships</h2>
				<p>
					关系型数据库通过使用关系来声明不同表的行之间的关联。之前关于Role和User表的关系图表表达了它们之间简单的关系。这是roles到users的一对多关系，因为一个角色可以属于多个用户，但是每一个用户只能拥有一个角色。
				</p>
				<p>
					以下代码表示了model类之间的一对多关系:<br>
					<pre class="code">
#hello.py relationships in the database models

class Role(db.Model):
	#...
	users = db.relationship('User', backref='role')
	
class User(db.Model):
	#..
	role_id = db.Column(db.Integer, db.ForeignKey('roles.id')
					</pre>
				</p>
				<p>
					通过之前users表和roles表之间的关系图表可知,一个关系是通过使用外键来连接不同表中的row(记录)的。User模型中的role_id字段被定义为外键，这个外键建立了不同表之间的关系。db.ForeignKey()中的roles.id参数指定刚添加到User表中的字段role_id的值来源与roles表中的主键id的值。
				</p>
				<p>
					被添加到Role表中的users字段代表从面向对象角度上观察的关系的表示，就好像从一对多关系中的‘一’上观察。在给出一个Role类实例的前提下，其users属性将会返回一个包含用户的列表，这些个用户与该role对象相关联(这些用户代表一对多关系中的'多').db.relationship()中的第一个参数代表处于关系的另一端的模型是什么(该模型默认是表示'多’的一端)。该参数可以是该模型类的字符串名字，前提是该模型是在python模块中定义的，而不管两个模型定义的前后关系。也就是说db.relationship()函数在外键定义的关系前提下，默认定义了一种一对多的关系。
				</p>
				<p>
					db.relationship()中的backref参数定义关系的反转方向，其通过向User模型添加一个role属性来实现。这个属性可以以对象的方式，用在任何User实例上去访问Role模型实例，来取代role_id外键来访问。
				</p>
				<p>
					上述说明声明的一对多关系两个方向的应用: Role的users属性和User的role属性，其都是建立在User定义的role_id外键所建立的关系的前提上。
				</p>
				<p>
					大多数情况下，db.relationship()可以自动定位其所需要的关系的外键，但是有时候它不能决定使用什么字段作为外键。比如如果User模型有两个或更多的字段被定义为指向Role的外键，那么sqlalchemy就不能决定去使用哪一个外键。无论何时配置的外键有冲突，那么db.relationship()必须给出额外的参数来解决这种冲突。以下列出了一些可以用来定义关系的通用配置选项:<br>
					<img src="../images/chapter5/relationship-options.png">
				</p>
				<p>
					
				</p>除了默认的一对多关系以外，还存在其他的关系。一对一关系的定义和一对多关系的定义差不多，只不过在db.relationship()中添加值为False的uselist参数，这样由db.relationship()默认定义的多端，变成了单端。多对一关系的定义除了可以将之前一对多关系中的模型反转一下以外，还可以通过将外键和db.relationship()定义在之前一对多关系中的多端(也就是说在一对多关系中，db.relationship()定义在一端，外键定义在多端，而多对一关系中，db.relationship()和外键都定义在多端)。而最复杂的关系: 多对多关系，需要用到额外的表，叫做association table 或者junction table.
			</section><!-- END of relationships -->
				
			<section id="databaseOperations">
				<h2>Database Operations</h2>
				<p>
					最好的方式来使用这些模型实在python shell里。首先配置FLASK_APP环境变量，然后运行flask shell进入flask相关的python shell.
				</p>
				
				<section id="createTables">
					<h3>Creating the Tables</h3>
					<p>
						首先需要使用模型类来创建数据库。db.create_all()函数定位所有继承于db.Model类的子类，然后在数据库中创建相应的表。<br>
						<pre class="code">
(venv) $ flask shell
>>> from hello import db
>>> db.create_all()
						</pre>
					</p>
					<p>
						db.create_all()函数在表已经存在于数据库的前提下，其不会重复创建或更新这些数据库表。当需要应用被修改的model时，很不方便。唯一的方法是删除原先的数据库，在重新创建数据库，毫无疑问，数据丢失了。
						<pre class="code">
>>> db.drop_all()
>>> db.create_all()
						</pre>
					</p>
				</section> <!-- END of create the tables-->
					
				<section id="insertRows">
					<h3>Insert Rows</h3>
					<p>
						创建模型实例<br>
						<pre class="code">
>> from hello import Role, User
>>> admin_role = Role(name='Admin')
>>> mod_role = Role(name='Moderator')
>>> user_role = Role(name='User')

>>> user_john = User(username='john', role=admin_role)   #这里的role由backref参数创建的反向引用，其引用的是模型实例，这里要特别注意。
>>> user_susan = User(username='susan', role=user_role)
>>> user_david = User(username='david', role=user_role)
						</pre>
						上述对象只存在与shell环境下，因此其主键还没有被数据库自动赋值。
					</p>
					<p>
						加入事务:<br>
						<pre class="code">
>>> db.session.add(admin_role)
>>> db.session.add(mod_role)
>>> db.session.add(user_role)
>>> db.session.add(user_john)
>>> db.session.add(user_susan)
>>> db.session.add(user_david)
						</pre>
						或使用更简洁的方式:<br>
						<pre class="code">
>>> db.session.add_all([admin_role, mod_role, user_role, user_john, user_susan, user_david])
						</pre>
					</p>
					<p>
						事务提交: 将改变写入数据库:<br>
						<pre class="code">
>>> db.session.commit()
						</pre>
					</p>
					<p>
						事务使得数据库数据保持一致性。事务中的对象会被自动写入数据库。当在事务提交期间出现任何错误，则整个事务会被丢弃，这不会因为只更新部分改变而导致数据库数据不完整。
					</p>
					<p>
						事务支持回滚操作。
					</p>
				</section> <!-- END of insert rows -->
					
				<section id="modifyRow">
					<h3>Modify Rows</h3>
					<p>
						<pre class="code">
>>> admin_role.name = "Administrator"
>>> db.session.add(admin_role)
>>> db.session.commit()
						</pre>
					</p>
				</section> <!-- END of modify row -->
					
				<section id="deletingRows">
					<h3>Deleting Rows</h3>
					<p>
						<pre class="code">
>>> db.session.delete(mod_role)  #注意，他这里不是db.delete(), 而是db.session.delete()
>>> db.session.commit()
						</pre>
					</p>
				</section><!-- END of deleting rows -->
					
				<section id="queryingRows">
					<h3>Querying Rows</h3>
					<p>
						每一个model类中都包含一个用于查询的query对象。
						<pre class="code">
>>> Role.query.all()
[&lt;Role 'Administrator'&gt;, &lt;Role 'User'&gt;]
>>> User.query.all()
[&lt;User 'john'&gt;, &lt;User 'susan'&gt;, &lt;User 'david' &gt;]
						</pre>
						结果过滤<br>
						<pre class="code">
>>> User.query.filter_by(role=user_role).all()
[&lt;User 'susan'&gt;, &lt;User 'david'&gt;]
						</pre>
					</p>
					<p>
						检查query对象的底层 sql语言实现
						<pre class="code">
>>> str(User.query.filter_by(role=user_role))
'SELECT users.id AS user_id, users.username AS users_name, users.role_id AS users_role_id \nFROM users \nWHERE :param_1 = users.role_id' 
						</pre>
					</p>
					<p>
						如果退出shell,那么之前创建的所有对象将不会再以python 对象的形式存在，而是以rows(记录)的形式继续存在于相应的数据库中。当你创建一个新的shell时，你必须从数据库中的row中重新创建相应的模型实例。<br>
						<pre class="code">
user_role = Role.query.filter_by(name='User').first()  #这里是从数据库中导出相应数据对象，而一开始时，是从头开始自己创建空的类实例。
#而且查询结果返回的是对象，而不是像sql查询语言那样单纯返回字段。
						</pre>
					</p>
					<p>
						filter_by()过滤器可以以方法链的形式在query对象上多次调用，直到得到满意的结果。以下是常用的过滤器:<br>
						<img src="../images/chapter5/filters.png">
					</p>
					<p>
						当所有所需的过滤器应用到query对象中后，执行all()会使得query运行，返回结果为一个列表，除了all()还有其他方法可以触发query的运行。以下是query执行方法:<br>
						<img src="../images/chapter5/query-executors.png">
					</p>
					<p>
						关系的工作原理类似于查询，以下代码查询在roles和users之间双向的一对多关系:<br>
						<pre class="code">
>>> users = user_role.users
>>> users
[&lt;User 'susan'&gt;, &lt;User 'david'&gt;]
>>> users[0].role
&lt;Role 'User'&gt;
						</pre>
					</p>
					<p>
						user_role.users查询有点小问题存在。当user_role.users表达式被求值时，一个隐式的查询在内部调用all()方法，结果是返回一个包含用户的列表。因为query对象被隐藏，所以不可能使用方法链的形式对结果进行进一步使用多个过滤器精炼。举个例子，比如说想返回一个依据字母顺序来排序的用户列表。以下代码重新配置关系，使得查询不会被自动执行。<br>
						<pre class="code">
class Role(db.Model):
	#...
	users = db.relationship('User', backref='role', lazy='dynamic')
						</pre>
					</p>
					<p>
						以这种方式配置的关系，user_role.users返回的query对象还没有被执行，因此可以使用它通过过滤器方法链对其进一步精炼。<br>
						<pre class="code">
>>> user_role.users.order_by(User.username).all() #依据字母顺序对查询结果进行排序
[&lt;User 'david'&gt;,&lt;User 'susan'&gt;]
>>> user_role.users.count()
2
						</pre>
					</p>
				</section><!-- END of querying rows -->
			</section><!-- END of database operations -->
				
			<section id="databaseUseInViewFunction">
				<h2>Database Use In View Functions</h2>
				<p>
					以下是将用户提交的用户名存入数据库的代码:<br>
					<pre class="code">
#hello.py database use in view function

@app.route('/', methods=['POST', 'GET']
def index():
	form = NameForm()
	if form.validate_on_submit():
		user = User.query.filter_by(username=form.name.data).first()
		if user is None:
			user = User(username=form.name.data)
			db.session.add(user)
			db.session.commit()
			session['known'] = False
		else:
			session['known'] = True
			
		session['name'] = form.name.data
		form.name.data = ''
		return redirect(url_for('index'))
	return render_template('index.html', form=form, name=session.get('name'), known=session.get('known', False))
					</pre>
				</p>
				<p>
					模版代码:<br>
					<pre class="code">
#templates/index.html customized greeting in template

{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block title %} Flasky {% endblock %}

{% block page_content %}
&lt;div class="page_header"&gt;
	&lt;h1&gt;Hello, {% if name %} {{ name }} {% else %}Stranger{% endif %}!&lt;/h1&gt;
	
	{% if not known %}
	&lt;p&gt;Pleased to meet you!&lt;/p&gt;
	{% else %}
	&lt;p&gt;Happy to see you again!&lt;/p&gt;
	{% endif %}
&lt;/div&gt;

{{ wtf.quick_form(form) }}
{% endblock %}
					</pre>
				</p>
			</section><!-- END of database use in view function-->
				
			<section id="integrationWithThePythonShell">
				<h2>Integration with the Python Shell</h2>
				<p>
					每次新建一个shell session都必须导入数据库实例以及模型，这是非常乏味的工作。为了避免总是重复这种任务，flask shell命令可以被配置去自动化导入这些对象。
				</p>
				<p>
					为了将对象添加到导入列表，一个shell context processor必须被创建以及使用app.shell_context_processor装饰器注册。
					<pre class="code">
#hello.py adding a shell context

@app.shell_context_processor
def make_shell_context():
	return dict(db=db, User=User, Role=Role)
					</pre>
				</p>
				<p>
					使用:<br>
					<pre class="code">
$flask shell
>>> app
&lt;Flask 'hello'&gt;
>>> db
&lt;SQLAlchemy engine='sqlite:////home/flask/flasky/data.sqlite'&gt;
>>> User
&lt;class 'hello.User'&gt;
					</pre>
				</p>
			</section><!-- END of the integration with python shell-->
			
			<section id="databasMigrationsWithFlaskMigrate">
				<h2>Database Migrations with Flask-Migrate</h2>
				<p>
					当你持续开发一个应用程序，你会发现你的数据库模型需要改变，并且随后你也必须更新数据库。flask-sqlalchemy只在数据库里没有数据库表的情况下，才会创建数据库表，所以唯一更新数据库的方法是摧毁原先的数据库，然后重新创建数据库，当然后果是原先所有的数据也一并被摧毁。
				</p>
				<p>
					更好的方式是使用数据库迁移框架。数据库迁移框架原理类似源码版本控制系统，它跟踪数据库类型的变化，允许数据库类型渐进式的改变。
				</p>
				<p>
					flask使用flask_migrate框架，其封装了Alembic框架，将其集成到了flask 命令中。
				</p>
				<section id="creatingAMigrationReposity">
					<h3>Creating a Migration Repository</h3>
					<p>
						flask_migrate初始化:<br>
						<pre class="code">
from flask_migrate import Migrate

#..

migrate = Migrate(app, db)
						</pre>
					</p>
					<p>
						为了暴露数据库迁移命令，flask_migrate添加一个带有多个子命令的flask db命令。当你新建一个项目时，可以使用flask db init命令来添加对数据库迁移功能。<br>
						<img src="../images/chapter5/flask-db-init.png">
					</p>
					<p>
						flask db init命令创建了一个megrations子文件夹，所有的迁移脚本都保存在这个文件夹下。
					</p>
				</section><!-- END of creating a migration repository -->
					
				<section id="creatingAMigrationScript">
					<h3>Creating a Migration Script<h3>
						
					<p>
						在Alembic框架里，一个数据库迁移用migration script表示。该脚本有两个函数，分别是: upgrade()和downgrade()。upgrade()应用所有在数据库迁移中的数据库类型改变，而downgrade()移除这些改变。这和git工具的工作原理类似。这种添加和移除数据库类型改变的能力，意味着Alembic可以将数据库回滚到数据库类型改变历史上的任何一个状态。
					</p>
					<p>
						Alembic迁移可以使用手动方式创建，或者使用revision和migrate命令来自动化创建。一个手动创建的迁移创建了一个迁移骨架脚本，该脚本中的upgrade()和downgrage()函数为空实现，其留待开发者使用Alebic的Operations对象暴露出的命令来实现这两个空函数。而一个自动产生的迁移脚本，试图查找模型定义和当前数据库的状态之间的差异来为upgrade()和downgrade()函数产生代码。
					</p>
					<p>
						注意: 自动生成的迁移脚本并不总是精确的，会丢失一些容易混淆的细节。比如，如果一个列被重命名，那么自动生成的迁移会认为原先的列被删除，而一个新名字的列被添加。如果原样使用该迁移脚本，那么会造成该列的数据丢失。因此，最好总是审查自动生成的迁移脚本，修改有误的描述。
					</p>
					
					<p>
						以下是修改数据库类型的步骤:<br>
						<ul>
							<li>修改模型类</li>
							<li>使用flask db migrate命令创建自动生成的迁移脚本
							<li>审查该脚本，并做出适当修改</li>
							<li>将迁移脚本添加到版本控制系统</li>
							<li>使用flask db upgrade命令将迁移应用到数据库上
						</ul>
						<img src="../images/chapter5/flask-db-migrate.png">
					</p>
				</section><!-- END of creating a migration script -->
					
				<section id="upgradingDatabase">
					<h3>Upgrading the Database</h3>
					<p>
						<pre class="code">
(venv) $ flask db upgrade
INFO [alembic.migration] Context impl SQLiteImpl.
INFO [alembic.migration] Will assume non-transactonal DDL
INFO [alembic.migration] Running upgrade None -> 1bc59146bb5, initial migration
						</pre>
					</p>
					<p>
						首次使用迁移，效果等同于调用db.create_all(),然而随后的迁移将数据库类型改变部署到表中，而不影响数据库中的数据。
					</p>
					<p>
						如果你的项目的数据库并不是用flask db init命令创建的，而是用db.create_all()创建的，那么执行flask db upgrade会失败，原因是重复创建已存在的数据库表。解决方法一是，删除原有的数据库文件后，再使用flask db upgrade命令。方法二是，跳过flask db upgrade命令，然后使用flask db stamp 命令标记现有的数据库为已更新。
					</p>
				</section><!-- END of upgrading the database-->
					
				<section id="addingMoreMigrations">
					<h2>Adding more Migrations</h2>
					
					<p>
						当你持续开发你的项目时，你会发现你需要频繁改变数据库模型。当你使用迁移框架来管理数据库时，所有的改变必须被定义在迁移脚本里，因为任何不被迁移跟踪的改变不具有回滚性。引入数据库中的改变的流程类似于首次迁移所做的流程:<br>
						<ul>
							<li>改变数据库模型</li>
							<li>使用flask db migrate命令产生迁移脚本</li>
							<li>审查和纠正迁移脚本</li>
							<li>使用flask db upgrade命令实施数据库改变
						</ul>
					</p>
					<p>
						当你工作在将来的某个阶段，你会发现你需要多次修改数据库模型，以达到令你满意的结果。如果最后一次迁移没有提交到版本控制系统，那么你可以将最后一次迁移所做的改变加入到下一次的迁移脚本里去。这使得你无需大量的小型且单个自身并无意义的迁移脚本。将最后一次的迁移加入下一次迁移的流程如下:<br>
						<ul>
							<li>使用flask db downgrade命令将最后一次迁移从数据库中移除(这会丢失一些数据)</li>
							<li>删除最后一次迁移脚本，其现在已经无用。</li>
							<li>使用flask db migrate命令产生新的数据库迁移，这包含前一次移除的迁移中的改变和当下你对数据库所做的改变。</li>
							<li>检查和纠正迁移脚本</li>
						</ul>
					</p>
				</section><!-- END of adding more migrations -->
			</section><!-- END of database migrations with flask-migration -->
		</div>

		<div id="extend">
		
		</div>
	</body>
</html>

